* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.calculator {
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.calculator-screen {
    width: 100%;
    height: 80px;
    border: none;
    background-color: #faf3f3;
    color: rgb(14, 13, 13);
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 2.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

button {
    height: 60px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    background-color: white;
    color: #252525;
    cursor: pointer;
}

button:hover {
    background-color: #f4f4f4;
}

.operator {
    background-color: #f57c00;
    color: white;
}

.equal-sign {
    background-color: #4caf50;
    color: white;
    height: calc(120px + 2px);
}

.all-clear {
    background-color: #e57373;
    color: white;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
